// add google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// reset css
* > * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  list-style: none;
}

body {
  line-height: 1;
}

// variables
$light-1: #f8f9fa;
$light-2: #f6f6f6;
$light-3: #fcffe7;
$light-4: #bad7e9;

$dark-1: #2b3467;
$dark-2: #1a37601a;
$gray: #808291;
$primary: #eb455f;

/* gradient colors */
$gradient-1: linear-gradient(to right, #ff5400, #9e0059);
$gradient-2: linear-gradient(to right, #8338ec, #390099);
$gradient-3: linear-gradient(to right, #fff7f3, #fff7f3);
